
@use "./variables.scss" as vars;

* {
  box-sizing: border-box;

  padding: 0;
  margin: 0;
  &:before,
  &:after {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
  }
}
html {
  padding: 0;
  margin: 0;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

body {
  padding: 0;
  margin: 0;
  line-height: inherit;
  background-color: vars.$body-bg;
  margin:0 auto;
}

.container {

  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  @media only screen and (min-width: vars.$screen-sm) {
    max-width: 540px;
  }

  @media only screen and (min-width: vars.$screen-md) {
    max-width: 720px;
  }

  @media only screen and (min-width: vars.$screen-lg) {
    max-width:  976px ;
  }

  @media only screen and (min-width: vars.$screen-xl) {
    max-width:1140px;
  }
}


.error-message{
  font-style: italic;
  color: var(--error-text);
  border-radius: var(--spacing-sm);
  width: 100%;
  display: block;
  font-size: clamp(12px, 2vw, 14px);
  margin: var(--spacing-sm) 0;
}
.success-message{
  font-style: italic;
  color: var(--success-text);
  border-radius: var(--spacing-sm);
  width: 100%;
  display: block;
  font-size: clamp(12px, 2vw, 14px);
  margin: var(--spacing-sm) 0;
}
a{
  text-decoration: underline;
}